<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="app.js" defer></script>
    <title>Quote App</title>
  </head>
  <body>
    <div class="q-container">
      <div class="tag">
        <span class="logo"> <i class="fas fa-yin-yang"></i> </span>
      </div>

      <div class="quote-text">
        <span class="quote"></span>
      </div>
      <div class="quote-autho">
        <span class="author"></span>
      </div>
      <div class="button-container">
        <button class="save-btn"><i class="far fa-save"></i></button>
        <button class="new-quote">New Quote</button>
      </div>
    </div>
    <div class="saved-quote"></div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
